#Secrets 
.env
*.key
*.pem

#Credentials
*.p12
*.pfx

#Secret directories: 
secrets/

#OS junk 
.DS_Store
**/config/
**/data/


#Exceptions:
!*.env.example 
secrets.yaml
monitoring/exporters/.my.cnf
.data/
dashboard/backend/.env
