# JWT
SECRET_KEY=generate_with_python3_secrets_token_hex_32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Admin credentials
ADMIN_USERNAME=ahmed
ADMIN_PASSWORD=bcrypt_hashed_password_here

# Infrastructure URLs
DOCKER_SOCKET=unix:///var/run/docker.sock
PROMETHEUS_URL=http://prometheus:9090
LOKI_URL=http://loki:3100
ALERTMANAGER_URL=http://alertmanager:9093
