# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Nextcloud Database
NEXTCLOUD_DB_USER=
NEXTCLOUD_DB_PASSWORD=
NEXTCLOUD_DB_NAME=
NEXTCLOUD_DB_HOST=nextcloud_database

# Immich Database
IMMICH_DB_USER=
IMMICH_DB_PASSWORD=
IMMICH_DB_NAME=
IMMICH_DB_HOST=immich-database

# Vaultwarden
VAULTWARDEN_DATA_PATH=/vaultwarden-data

# Backup temp directory
BACKUP_DIR=/tmp/backups
